:root {
  --dark-cerulean: #124e78;
  --maastricht-blue: #0b132b;
  --yankees-blue: #1c2541;
  --sea-serpent: #5bc0be;
  --aquamarine: #6fffe9;
  --react: #00d8ff;
}

html {
  background: var(--yankees-blue);
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

h4 {
  text-align: center;
  flex-basis: 100%;
  align-self: center;
}

h1 {
  flex-basis: 60%;
  color: var(--react);
  text-align: center;
}
a {
  color: rgb(226, 152, 14);
  text-decoration: none;
  margin: 10px;
  background-color: #8d9595;
  border-radius: 5px
}
